services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    mem_limit: 1g
    cpus: "1"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    mem_limit: 512m
    cpus: "0.5"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
    volumes:
      - kafka_data:/kafka/logs
    mem_limit: 2g
    cpus: "1.0"

  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: chat_db
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    mem_limit: 2g
    cpus: "1.0"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    volumes:
      - ./config/otel-collector.yml:/etc/otelcol-contrib/config.yaml
    command: ["--config=/etc/otelcol-contrib/config.yaml"]
    ports:
      - "4317:4317"
      - "4318:4318"
      - "8889:8889"
      - "13133:13133"
    restart: always
    mem_limit: 512m
    cpus: "0.5"

  prometheus:
    image: prom/prometheus:v3.6.0
    container_name: prometheus
    depends_on:
      - otel-collector
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    mem_limit: 1g
    cpus: "0.5"

  loki:
    image: grafana/loki:3.5.7
    container_name: loki
    depends_on:
      - otel-collector
    volumes:
      - ./config/loki.yml:/etc/loki/loki-config.yaml
      - loki_data:/loki
    command: ["-config.file=/etc/loki/loki-config.yaml"]
    ports:
      - "3100:3100"
    mem_limit: 1g
    cpus: "0.5"

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./config/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/var/tempo
    ports:
      - "3200:3200"
    depends_on:
      - otel-collector
    restart: always
    mem_limit: 1g
    cpus: "0.5"

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    depends_on:
      - otel-collector
    ports:
      - "16686:16686"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    mem_limit: 512m
    cpus: "0.5"

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    depends_on:
      - prometheus
      - loki
      - jaeger
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    mem_limit: 512m
    cpus: "0.5"

  websocket_service:
    build:
      context: websocket_service
      dockerfile: Dockerfile
    container_name: websocket_service
    ports:
      - "8001:8001"
    volumes:
      - ./websocket_service:/app
    depends_on:
      redis:
        condition: service_started
      otel-collector:
        condition: service_started
      kafka:
        condition: service_healthy
    restart: always
    mem_limit: 1g
    cpus: "1"

  storage_service:
    build:
      context: storage_service
      dockerfile: Dockerfile
    container_name: storage_service
    ports:
      - "8002:8002"
    volumes:
      - ./storage_service:/app
    depends_on:
      redis:
        condition: service_started
      otel-collector:
        condition: service_started
      mongodb:
        condition: service_started
      kafka:
        condition: service_healthy
    restart: always
    mem_limit: 1g
    cpus: "1"

volumes:
  redis_data:
  kafka_data:
  mongo_data:
  prometheus_data:
  loki_data:
  tempo_data:
  grafana_data:
